NODE_ENV=dev
PORT=3000

# INFO: for local connection set "postgresql://postgres:postgres@localhost:5432/app_db"
DATABASE_URL=postgresql://postgres:postgres@db:5432/app_db

JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:5173
